<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bangpai-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,29}</string>
                <key>spriteSourceSize</key>
                <string>{26,29}</string>
                <key>textureRect</key>
                <string>{{1,1},{26,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bangpai-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,29}</string>
                <key>spriteSourceSize</key>
                <string>{26,29}</string>
                <key>textureRect</key>
                <string>{{29,1},{26,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bangpai-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,29}</string>
                <key>spriteSourceSize</key>
                <string>{24,29}</string>
                <key>textureRect</key>
                <string>{{57,1},{24,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bangpai.png</string>
            <key>size</key>
            <string>{82,31}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3f402305bdb957710681faf3f959b43:bb28286a6aec60eccbe0b5c01c3ef14d:9641d35d06c235274e27808bcb967f57$</string>
            <key>textureFileName</key>
            <string>bangpai.png</string>
        </dict>
    </dict>
</plist>
