<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>give-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,27}</string>
                <key>spriteSourceSize</key>
                <string>{26,27}</string>
                <key>textureRect</key>
                <string>{{1,1},{26,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>give-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,27}</string>
                <key>spriteSourceSize</key>
                <string>{26,27}</string>
                <key>textureRect</key>
                <string>{{29,1},{26,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>give-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,27}</string>
                <key>spriteSourceSize</key>
                <string>{24,27}</string>
                <key>textureRect</key>
                <string>{{57,1},{24,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>give.png</string>
            <key>size</key>
            <string>{82,29}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f0c505e8e6163e2e7c3553a2257a863:7db5b57171c20c611c4ebdec955d7b72:0ba4a24b84be60a44f0af0572f82b0a8$</string>
            <key>textureFileName</key>
            <string>give.png</string>
        </dict>
    </dict>
</plist>
