<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>172-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,23}</string>
                <key>spriteSourceSize</key>
                <string>{39,23}</string>
                <key>textureRect</key>
                <string>{{1,1},{39,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>172-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,23}</string>
                <key>spriteSourceSize</key>
                <string>{39,23}</string>
                <key>textureRect</key>
                <string>{{42,1},{39,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>talk_pre.png</string>
            <key>size</key>
            <string>{82,25}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06b25062880cb056698a38d7e81ba3b3:9ef71dc2757e8d74d9106417ef9ba81c:bfbcfb4d025e8ace324279ec8e1c99a7$</string>
            <key>textureFileName</key>
            <string>talk_pre.png</string>
        </dict>
    </dict>
</plist>
